*{
    margin:0px;
    padding:0px;
    
}
#bg-color{
    background-color: white;
    box-shadow:2px 5px 10px gray ;
}
#bg-img{
    background-color: #008b8b;
}
@media screen and (max-width:560px){
    #bg-img{
        border-bottom:1px solid gainsboro ;
    }
}
img{
    margin:30px;
    width:200px;
    height:200px;
    border-radius:50%;
}
@media screen and (max-width:1280px){
    img{
        width:120px;
        height:120px;
        margin:30px 20px;
    }
}
@media screen and (max-width:1024px){
    img{
        margin-left:10px;
    }
}
@media screen and (max-width:768px){
    img{
        width:120px;
        height:120px;
        margin:30px 20px;
    }
}

@media screen and (max-width:560px){
    img{
        width:200px;
        height:200px;
        margin-left:70px;
    }
}
#paragraph{
    margin-left:40px;
}
@media screen and (max-width:560px){
    #paragraph{
        margin-left:10px;
    }
}
@media screen and (max-width:1280px){
    #paragraph{
        margin-left:30px;
    }
}

.heading{
    color:green;
    margin-top:20px;
}
@media screen and (max-width:768px){
    .heading{
        color:whitesmoke;
    }
}
#ancher1 a{
    text-decoration:none;
    color: black;
}
#ancher1 a:hover{
    text-decoration:underline;
    color:green;
}
@media screen and (max-width:768px){
    #ancher1 a:hover{
        color:gainsboro;
    }
}
#ancher2 a{
    color:black;
}
#ancher2 a:hover{
    color:green;
}
@media screen and (max-width:768px){
    #ancher2 a:hover{
        color:gainsboro;
    }
}
#border1{
    border-bottom:4px solid darkcyan;
}
@media screen and (max-width:768px){
  #border1{
      background-color: #008b8b;
}  
    
}
/*==============start second secton==============*/
.heading2{
    color:green;
    margin-top:30px;
    margin-left: 50px;
}
@media screen and (max-width:768px){
.heading2{
    margin-left:10px;
}
}
.resume-section{
     margin-left:50px;  
}
@media screen and (max-width:768px){
    .resume-section{
        margin-left:10px;
    }
}
#border2{
    border-left:2px solid darkcyan;
    margin-top:2px;
    margin-left: 75px;
}
 @media screen and (max-width:768px){
     #border2{
         border-left:0px;
         margin-left: 10px;
        }   
}
.heading3{
    color:green;
    margin-top:25px;
}
#resume_github{
    margin-top:20px;
    margin-bottom:20px;

  }
    #resume_github :hover{
        color:green;
        

    }
    
  
  @media screen and (max-width:768px){
    #resume_github{
        display:flex;
        justify-content: center;
        justify-content: space-around;
        margin-left:5px ;
        font-size:28px;
    
    }
  }
  #resume-section{
    margin-left: 50px;
}
@media screen and (max-width:768px){
    #resume-section{
        margin-left:5px;
    }
}
@media screen and (max-width:768px){
    #github{
        display:none;
        
    }
}
    

    
